    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    /*Navbar */
    
     :root {
        --bold: 900;
        --medium: 700;
        --regular: 400;
        --thin: 300;
    }
    
    body {
        font-family: "Poppins", sans-serif;
    }
    
    .logo {
        height: 100%;
    }
    
    .header {
        background: black;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .nav-list {
        display: flex;
        gap: 50px;
        list-style: none;
    }
    
    .nav-link {
        color: whitesmoke;
    }
    
    .nav-link:hover {
        text-decoration: underline;
        color: cadetblue;
    }
    /* Seccion 1 Principal */
    
    .upper {
        text-transform: uppercase;
    }
    
    .title {
        text-transform: uppercase;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        width: 190px;
        /*margin-top: 90px;
    margin-left: 150px;*/
        padding 5 5 5;
        color: rosybrown;
        /*background: brown;*/
        box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
    }
    
    .lem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 170px;
        width: 350px;
        padding: 0.5rem 0.5rem 0;
        /*margin-left: 150px;*/
        color: whitesmoke;
        /*box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32); */
        /*background: red;*/
    }
    
    body {
        background: linear-gradient(to right, #23074d, #cc5333);
        /*background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%236423cc' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
    }
    
    .foto {
        height: auto;
        width: 300px;
        /*margin-left: 500px;*/
    }
    
    .conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 500px;
    height: 500px; */
        /*background-color: red;*/
    }
    
    .btn-1 {
        height: 80px;
        width: 150px;
        color: white;
        background: blue;
        padding: 1rem 1rem 1rem;
        border: solid 1px black;
    }
    
    .btn-2 {
        height: 80px;
        width: 150px;
        color: white;
        background: blue;
        padding: 1rem 1rem 1rem;
        margin-left: 1rem;
        border: solid 1px black;
    }
    
    .btn {
        margin-top: 2rem;
    }
    /*Seccion 2 BENEFICIOS */
    
    .description-section {
        /*padding 8rem 3;*/
        margin: 8rem 0 3rem;
    }
    
    .description-section h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.8rem;
        color: gray;
        align-items: center;
        text-transform: uppercase;
        gap: 3rem 0 3rem 0;
    }
    
    .description-section p {
        text-align: center;
        color: white;
    }
    
    .card-conteiner {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 4rem;
        /* background-color: red;*/
    }
    
    .card-conteiner h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto 2 rem auto;
        /*background: red;*/
    }
    
    .card-conteiner p {
        text-align: center;
        font-size: 1rem;
        color: cornflowerblue;
        max-width: 300px;
        margin: 2rem auto 2rem auto
    }
    
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
    }
    /*Seccion 3 HOW WE WORK*/
    
    .container-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 10rem 3rem 10rem 0rem;
    }
    
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 400px;
        /* background-color: cornflowerblue;*/
        box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
    }
    
    .container-items h2 {
        text-align: center;
        font-size: 1.8rem;
        color: gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }
    
    .container-items p {
        color: white;
        text-align: start;
    }
    
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 2rem 0 2rem 0;
    }
    
    .info-card {
        margin: 2rem 2rem 2rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Section 4 CLIENTES */
    
    .clients {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 10rem 3rem 10rem 0rem;
    }
    
    .clients p {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        text-align: start;
    }
    
    .clients h2 {
        text-align: center;
        font-size: 1.8rem;
        color: gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }
    
    .itemz {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 250px;
        height: 200px;
        /*background-color: #121314;*/
        margin: 10px;
        color: white;
    }
    
    .dad {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    /*Footer */
    
    .kuki {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        max-height: 150px;
        margin: 2rem 2rem 2rem;
    }
    
    .pkpkpk {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ofices {
        color: whitesmoke;
        text-decoration: underline;
        font-size: 0.8rem;
    }
    
    .logito {
        max-width: 30px;
        max-height: 30px;
    }
    
    .redes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-left: 80px;
        margin-top: 100px;
        /* background: red;*/
    }
    
    .itemz:hover {
        zoom: 110%;
    }
    
    .btn-1:hover {
        zoom: 110%;
    }
    
    .btn-2:hover {
        zoom: 110%;
    }
    
    .ofices:hover {
        text-decoration: underline;
        color: #23074d;
    }