@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.logo {
    height: 100%;
}

.header {
    background: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    text-decoration: underline;
    color: cadetblue;
}

.upper {
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 190px;
    /*margin-top: 90px;
    margin-left: 150px;*/
    padding 5 5 5;
    color: rosybrown;
    /*background: brown;*/
    box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
}

.lem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 350px;
    padding: 0.5rem 0.5rem 0;
    /*margin-left: 150px;*/
    color: whitesmoke;
    /*box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.32); */
    /*background: red;*/
}

body {
    background: linear-gradient(to right, #23074d, #cc5333);
}

.foto {
    height: auto;
    width: 300px;
    /*margin-left: 500px;*/
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px;
    height: 500px; /*
    /*background-color: red;*/
}

.btn-1 {
    height: 80px;
    width: 150px;
    color: white;
    background: blue;
    padding: 1rem 1rem 1rem;
    border: solid 1px black;
}

.btn-2 {
    height: 80px;
    width: 150px;
    color: white;
    background: blue;
    padding: 1rem 1rem 1rem;
    margin-left: 1rem;
    border: solid 1px black;
}

.btn {
    margin-top: 2rem;
}